<template name="Header">
    <header>
        <div class="navbar">
            <div class="title">
                <h1>Car Repair Catalog</h1>
            </div>
            <div class="login">
                {{> loginButtons}}
            </div>
        </div>
    </header>
</template>