<template name="MainLayout">
    {{> Header}}
    <div class="rest">
    <div class="col-md-2 sidebar">
        {{> Cars}}
    </div>
    <div class="col-md-6 col-md-offset-2">
        <main>
            {{> Template.dynamic template=main}}
        </main>
    </div>
    </div>
</template>