
.top{
    margin-top: 100px;
}
main {
    overflow-y: scroll;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: #57BC90;
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.16);
    border-radius: 0px;
    padding-left: 10px;
    z-index: 10;
}

.sidebar {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: #1A2930;
    color: white;
}

.button-right {
    float: right;
}

.navbar,
.sidebar a {
    color: white;
}

a.login-close-text {
    color: blue
}

.carIntro {
    padding-left: 10px;
}

.car {}

.car:hover {
    background-color: #66A6A6;
}