<template name="CarIntro">
    <div class="carIntro col-xs-12">
            <h3>{{manufacturer}} {{name}}</h3>
            <h4> Engine </h4>
            {{#each engine}}
            <li> {{volume}} - {{fuel}} </li>
            {{/each}}
            <h4> Parts </h4>
            {{#each parts}}
            <li> {{serialNumber}} - {{type}} - ${{price}} - {{work}} min</li>
            {{/each}}
    </div>
    <hr/>
</template>