<template name="CarSingle">
    <h3>{{Car.manufacturer}} {{Car.name}} <button class="btn-warning btn button-right" id="RemoveButton">Remove</button></h3>
    <!--<div class="car">
            <h3>{{Car.manufacturer}} {{Car.name}}</h3>
            <h4> Engine </h4>
            {{#each Car.engine}}
            <li> {{volume}} - {{fuel}} </li>
            {{/each}}
            <h4> Parts </h4>
            {{#each Car.parts}}
            <li> {{serialNumber}} - {{type}} - ${{price}} - {{work}} min</li>
            {{/each}}
        </div>-->
    {{#if Template.subscriptionsReady}}
    <hr/> {{> quickForm collection="Cars" id="updateCar" type="update" doc=Car}} {{else}}
    <h4>Loading...</h4>{{/if}}
</template>