<template name="Cars">
    <div class="top"><h3>Cars</h3></div>
    <a class="btn btn-success" href="/">New Car</a> {{#if Template.subscriptionsReady}} {{#each Cars}}
    <hr/> {{> Car}} {{/each}} {{else}}
    <h4>Loading...</h4>{{/if}}
</template>