<template name="NewCar">
    <div class="new-car-container">
                    <div class="header">
                <h2>New Car</h2>
            </div>
        {{> quickForm collection="Cars" id="insertCarForm" type="insert" class="new-car-form" template="bootstrap3-inline" }}
    </div>
</template>